<!DOCTYPE html>
<HTML lang='en'>
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>Places</H1>
        <UL>
            {% for elem in states|sort(attribute='name') %}
            <LI>{{ elem.id }}: <B>{{ elem.name }}</B></LI>
            {% endfor %}
        </UL>
        <H1>Cities</H1>
        <UL>
            {% for elem in cities|sort(attribute='name') %}
            <LI>{{ elem.id }}: <B>{{ elem.name }}</B>:  <B>{{ elem.created_at }}</B></LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>